.App{
  text-align: center;
}


.welcomeTitle{
  font-size: 24px;
  margin: top 30px;
  font: Arial;
  color: rgb(83, 83, 83);
  
}

.button{
  margin: 5px;
  width: 80px;
  height: 26px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  background-color: #13caa3;
  border-radius: 6px;
  cursor: pointer;
  font: Arial;
}

.textBar{
  margin: 10px;
  width: 192px;
  height: 20px;
  border: 2px solid #13caa3;
  border-radius: 6px;
  font: Arial;
  
}

.button:hover {
  background: rgb(113, 200, 235);
}

.textBar::placeholder{
  color: rgb(17, 193, 224);
  font: Arial;
  
}

.deleteButton{
  background-color: #13caa3;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
}
.deleteButton:hover {
  background: rgb(224, 9, 9);
}





.item{
  font-size: 16px;
  font: Arial;
  color: rgb(83, 83, 83);
}




.toggle{
  font-size: 16px;
  font: Arial;
  color: rgb(218, 18, 18);
  padding: 20px;
  border-radius: 40px;
  animation: shake .8s ease infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 30% 5%;
}


@keyframes shake {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }


  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}